body{
    background:linear-gradient(rgb(0,0,0),rgb(40,40,40));
    margin:0;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

html{
    overflow: hidden;
}

.container{
    display: flex;
    flex:1;
    align-items:center;
    justify-content:center;
    text-align:center;
    flex-direction: column;
}

.imgBox img{
    height:300px;
    width:300px;
}

.slider {
    margin-bottom: 5px;
}

.slider {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: rgba(0,0,0, 0.7);
}

.slider::-webkit-slider-runnable-track {
    height: 15px;
    -webkit-appearance: none;
    margin-top: -1px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    cursor: ew-resize;
    box-shadow: -80px 0 0 80px #fff;
}



.controls{
    flex: 1;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.controls div:active{
    opacity: 0.7;
}

.feather-45{
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}


.musicName{
    font-weight: bold;
    font-size: 11px;
    max-width: 350px;
    max-width: 1000px;
    width: auto;
    white-space: nowrap;
    overflow-x: hidden;
    min-height: 15px;
}

#musicName{
    width: 100%;
    transform: translateX(100%);
    animation: textAnime 12s infinite;
}

@keyframes textAnime {
    to{
        transform: translateX(-100%);
    }
}

.play{
    background-color:#fff;
    padding:10px;
    border-radius: 50%;
    text-align: center;
}
.play i{
    background-color:#000;
}
